---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from '../components/BlogPost.astro';
import { getCollection } from "astro:content";

const allPosts = await getCollection("posts");

const pageTitle = "博客";
---

<BaseLayout pageTitle={pageTitle}>
  <p>我的 Astro 学习博客</p>
  <ul>
    {
      allPosts.map((post) => (
        <BlogPost url={`/posts/${post.slug}`} title={post.data.title} />
      ))
    }
  </ul>
</BaseLayout>
